header {
    padding: 32px;
    background-color: rgba(47, 40, 91,0.9);
    border-bottom: 4px solid burlywood;
    padding: 20px;
    border-radius: 10px;
  }

body {
    background-image: url(images/y-so-serious.png);
    font-family: sans-serif;
    color: whitesmoke;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

section {
    width: 80%;
    background-color: rgba(47, 40, 91,0.75);
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid burlywood;
    border-radius: 10px;
    max-width: 700px;
}

p {
    padding: 10px;
}

footer {
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.section-gauche, .section-droite {
    flex: 1;
}

.section-droite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-droite img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: contain;
}

.hardskills {
    width: 40%;
}

.titre-skills {
    text-align: center;
}

a {
    color: grey;
}

a:visited {
    color: gray
}

